---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import ProjectGrid from "../components/ProjectGrid.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <main>
      <style>
        ul {
          list-style-type: none;
          padding: unset;
        }
        ul li {
          display: flex;
        }
        ul li :global(time) {
          flex: 0 0 130px;
          font-style: italic;
          color: #646464;
        }
      </style>
      <h2>Recent Blog Posts</h2>
      <section>
        <ul>
          {
            posts
              .slice(-3)
              .map((post) => (
                <li>
                  <FormattedDate date={post.data.pubDate} />
                  <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
                </li>
              ))
              .reverse()
          }
        </ul>
      </section>
      <h1>
        👋 Greetings, <a href="https://pinapelz.gitlab.io/3d-ascii-rpg/"
          >Adventurer!</a
        >
      </h1>
      <p>
        Welcome to my site/blog! This place will serve as a corner where I can
        document the progress and process with some of things I've experimented
        with or made. I guess its kind of like writing documentation for all the
        things I've found intriguing or interesting.
      </p>
      <h3>I did a thing..</h3>
      <p>
        Here are some of the things I've done/experimented with and found pretty
        cool!
        <ProjectGrid>
          <section>
            <h2>Check below for some links to more stuff!</h2>
            <iframe src="https://pinapelz.moe/" width="100%" height="500px"
            ></iframe>
          </section>
        <Footer />
      </p>
    </main>
  </body>
</html>
